---
import { SEO } from "astro-seo";
import { getImage } from "astro:assets";

import photo from "../images/photo.jpeg";

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const title = "Yurii Ostapchuk";

const description = "Yurii Ostapchuk contacts and about page";

const metaImage = await getImage({
  src: photo,
});
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={title}
      description={description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title,
          image: metaImage.src,
          type: "profile",
        },
      }}
    />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RBD29N85BW"
    ></script>
    <script type="application/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RBD29N85BW");
    </script>
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      svg {
        width: 100%;
      }
    </style>
  </body>
</html>
